extends layouts/main-content.pug

block content
        main 
            form.product-form(action="/add-product", method="POST")
			    .form-control
					label(for="title") Title
					input(type="text", name="title")#title
		
				button(type="submit") Add Product
		