<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>
            
            
            <% if (prods.length > 0)  { %>
			<div class="grid">
                <% for (let product of prods) { %>
				<article class="card product-item">
					<header class="card_header">
						<h1 class="product_title"><%= product.title %></h1>
					</header>
					<div class="card_image">
						<img src="#" alt="A book" />
					</div>
					<div class="card_content">
						<h2 class="product_price">$19.99</h2>
						<p class="product_description">A very good read.</p>
					</div>
					<div class="card_actions">
                        <button class="btn">Add to Cart</button>
					</div>
				</article>
                <% } %>
			</div>
            <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
<%- include('includes/footer.ejs') %>

