html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--background-body);
}

:root {
	--blue: rgb(94, 94, 185);
	--darkGrey: rgb(43, 39, 39);
	--background-body: rgb(247, 240, 240);
	--white-text: rgb(248, 238, 238);
	/* font-size scale */
	--base-size: 1em;
	--type-scale: 1.2;
	--h3: calc(var(--base-size) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
}
/* font scale factor */
h1 {
	font-size: var(--h1);
	font-family: serif;
	text-align: center;
}
h2 {
	/* font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2); */
	font-size: var(--h2);
	font-family: serif;
}
h3 {
	font-size: var(--h3);
	/* font-size: calc(1em * 1.2 * 1.2 * 1.2); */
	font-family: serif;
}

p {
	font-size: var(--base-size);
	/* font-size: 1em; */
}

li {
	padding: 10px;
}
a {
	color: black;
	text-decoration: none;
	list-style-type: square;
	padding: 10px;
}
button {
	padding: 7px;
}
small,
.text-small {
	font-size: calc(1em / 1.2);
}
.main-header {
	width: 100%;
	height: 3.5rem;
	background-color: rgb(92, 75, 240);
	padding: 0 1.5rem;
}
.main-header__nav {
	height: 100%;
	display: flex;
	align-items: center;
}
.main-header__item-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.main-header__item {
	margin: 0 1rem;
}
.main-header__item a {
	text-decoration: none;
	color: white;
}
.main-header__item a:hover,
.main-header__item a:active {
	color: gold;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}
.form-control label,
.form-control input {
	display: block;
}
.form-control {
	margin: 1rem;
}
.form-control input {
	border: 1px solid purple;
	font: inherit;
	border-radius: 2px;
}
button {
	font: inherit;
	border: 1px solid purple;
	color: purple;
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
}
button:hover,
button:active {
	background-color: purple;
	color: white;
}
.product-form {
	width: 30rem;
	margin: auto;
	max-width: 90%;
}
.card {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.card__header,
.card__content {
	padding: 1rem;
}
.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
	margin: 0;
}
.card__image {
	width: 100%;
}
.card__image img {
	width: 100%;
}
.card__actions {
	padding: 1rem;
	text-align: center;
}
.card__actions button,
.card__actions a {
	margin: 0 0.25rem;
}
.btn {
	display: block;
	margin: auto;
	font: inherit;
	border: 1px double purple;
	color: magenta;
	background: white;
	border-radius: 3px;
	cursor: pointer;
}
.product__price {
	text-align: center;
	margin-bottom: 0.5rem;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	background-color: rgb(92, 75, 240);
	padding: 0 1.5rem;
	color: white;
}
