body {
				padding: 0;
				margin: 0;
			}
			main {
				padding: 1rem;
			}
			.main-header {
				width: 100%;
				height: 3.5rem;
				background-color: rgb(92, 75, 240);
				padding: 0 1.5rem;
			}
			.main-header-nav {
				height: 100%;
				display: flex;
				align-items: center;
			}
			.main-header-item-list {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
			}
			.main-header-item {
				margin: 0 1rem;
			}
			.main-header-item a {
				text-decoration: none;
				color: white;
			}
			.main-header-item a:hover,
			.main-header-item a:active {
				color: gold;
			}
			.form-control label,
			.form-control input {
				display: block;
			}
			.form-control {
				margin: 1rem;
			}
			.form-control input {
				border: 1px solid purple;
				font: inherit;
				border-radius: 2px;
			}
			button {
				font: inherit;
				border: 1px solid purple;
				color: purple;
				background-color: white;
				border-radius: 3px;
				cursor: pointer;
			}
			button:hover,
			button:active {
				background-color: purple;
				color: white;
			}
			.product-form {
				width: 30rem;
				margin: auto;
				max-width: 90%;
			}